*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#050816;
color:white;
overflow-x:hidden;
min-height:100vh;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-2;
}

nav{
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
position:sticky;
top:0;
z-index:100;
}

nav h1{
font-size:2rem;
color:#60a5fa;
}

.nav-links{
display:flex;
gap:25px;
}

.nav-links a{
color:white;
text-decoration:none;
transition:0.3s;
}

.nav-links a:hover{
color:#60a5fa;
}

.hero{
text-align:center;
padding:90px 20px 50px;
}

.hero h2{
font-size:4rem;
margin-bottom:20px;
background:linear-gradient(to right,#60a5fa,#a78bfa);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
text-shadow:
0 0 25px rgba(96,165,250,0.3);
}

.hero p{
font-size:1.2rem;
opacity:0.8;
}

.main-grid{
width:90%;
max-width:1400px;
margin:auto;
display:grid;
grid-template-columns:1fr 1fr;
gap:30px;
padding-bottom:60px;
}

.card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(15px);
padding:35px;
border-radius:28px;
border:1px solid rgba(255,255,255,0.08);
box-shadow:
0 0 25px rgba(96,165,250,0.08);
transition:0.4s;
position:relative;
overflow:hidden;
}

.card:hover{
transform:translateY(-8px);
box-shadow:
0 0 40px rgba(168,85,247,0.25);
}

.card h2{
margin-bottom:20px;
color:#60a5fa;
}

input{
width:100%;
padding:18px;
border:none;
outline:none;
border-radius:16px;
background:#111827;
color:white;
font-size:1rem;
margin-bottom:20px;
border:1px solid rgba(255,255,255,0.08);
transition:0.3s;
}

input:focus{
border-color:#60a5fa;
box-shadow:
0 0 20px rgba(96,165,250,0.35);
}

button{
padding:15px 28px;
border:none;
border-radius:16px;
background:
linear-gradient(
to right,
#7c3aed,
#2563eb
);
color:white;
font-size:1rem;
font-weight:bold;
cursor:pointer;
transition:0.3s;
margin-top:10px;
box-shadow:
0 0 20px rgba(124,58,237,0.35);
}

button:hover{
transform:
translateY(-4px)
scale(1.03);

box-shadow:
0 0 35px rgba(96,165,250,0.6);
}

#answerBox{
margin-top:25px;
background:#0f172a;
padding:25px;
border-radius:18px;
min-height:220px;
line-height:1.7;
white-space:pre-wrap;
}

#quizQuestion{
font-size:1.1rem;
margin-bottom:20px;
line-height:1.6;
}

@media(max-width:900px){

.hero h2{
font-size:2.5rem;
}

.main-grid{
grid-template-columns:1fr;
}

nav{
flex-direction:column;
gap:15px;
}

}
.subject-buttons{
display:flex;
gap:15px;
flex-wrap:wrap;
margin-top:20px;
}

.subject-buttons button{
flex:1;
min-width:140px;
}